.restaurant-title {
  margin-top: 25px;
}

li {
  list-style: none;
}

.removeBtn {
  color: red;
}

.removeBtn:hover {
  color: red;
  text-decoration: none;
}

.testTitle {
  margin-top: 80px;
}

#orderContainer {
  background: white;
}
